<script setup lang="ts">
import { ref } from 'vue';
import { type Product}  from '@/types/Product'
import { type ReceiptItem } from '@/types/ReceiptItem'

import ProductList from '@/components/ProductList.vue';

const products1: Product[] = [
    { id: 1, name: 'ลาเต้ ร้อน', price: 40.0, type: 1 },
    { id: 2, name: 'โกโก้', price: 41.0, type: 1 },
    { id: 3, name: 'ชาไทย', price: 46.0, type: 1 },
    { id: 4, name: 'นมเย็น', price: 50.0, type: 1 },
    { id: 5, name: 'โอริโอ้้', price: 30.0, type: 1 },
    { id: 6, name: 'ชาเขียว', price: 55.0, type: 1 },
    { id: 7, name: 'กาแฟ', price: 50.0, type: 1 },
    { id: 8, name: 'โอวัลติน', price: 45.0, type: 1 },
    { id: 9, name: 'ชาเย็น', price: 45.0, type: 1 },
]

const products2: Product[] = [
    { id: 1, name: 'บะหมี่', price: 40.0, type: 2 },
    { id: 2, name: 'เกี๋ยว', price: 41.0, type: 2 },
    { id: 3, name: 'กุ้ง', price: 46.0, type: 2 }
]

const products3: Product[] = [
    { id: 1, name: 'ไก่่', price: 40.0, type: 2 },
    { id: 2, name: 'ไข่', price: 41.0, type: 2 },
    { id: 3, name: 'หมู', price: 46.0, type: 2 }
]
const tab = ref(1)
function selected(p: Product) {
    console.log('ProductView: ' + p)
    addReceiptItem(p)
}
const receiptItems = ref<ReceiptItem[]>([])
function addReceiptItem(product: Product) {
    const newReceiptItem: ReceiptItem = {
        id: -1,
        name: product.name,
        price: product.price,
        unit: 1,
        productId: product.id,
        product: product
    }
    receiptItems.value.push(newReceiptItem)
}
</script>

<template>
    <v-container>
        <v-row>
            <v-col cols="12" md="6" style="background-color: blue;">
                <v-container style="padding: 0">
                    <v-row>
                        <v-col cols="12">
                            <v-sheet min-height="300" max-width="600" height="300" elevation="6" style="overflow: auto;">
                                <v-table>
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>name</th>
                                            <th>price</th>
                                            <th>unit</th>
                                            <th>total</th>
                                            <th> </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item,index) of receiptItems" :key="item.id">
                                            <td>{{ index+1 }}</td>
                                            <td>{{ item.name }}</td>
                                            <td>{{item.price}}</td>
                                            <td>{{item.unit}}</td>
                                            <td>{{ item.price * item.unit }}</td>
                                            <td>X</td>
                                        </tr>
                                    </tbody>
                                </v-table>
                            </v-sheet>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="80" elevation="6"></v-sheet>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="100" elevation="6"></v-sheet>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="80" elevation="6"></v-sheet>
                        </v-col>
                    </v-row>
                    
                </v-container>
            </v-col>
            <v-col cols="12" md="6" style="background-color: red;">
                <v-sheet min-height="300" max-width="600" height="800" elevation="6">
                    <v-tabs v-model="tab" color="deep-purple-accent-4" align-tabs="center">
                        <v-tab :value="1">เครื่องดื่ม</v-tab>
                        <v-tab :value="2">ขนม</v-tab>
                        <v-tab :value="3">สมูทตี้</v-tab>
                    </v-tabs>
                    <v-window v-model="tab">
                        <v-window-item :value="1">
                            <ProductList :products="products1" @selectedProduct="selected"></ProductList>
                        </v-window-item>
                        <v-window-item :value="2">
                            <ProductList :products="products2" @selectedProduct="selected"></ProductList>
                        </v-window-item>
                        <v-window-item :value="3">
                            <ProductList :products="products3" @selectedProduct="selected"></ProductList>
                        </v-window-item>
                    </v-window>
                </v-sheet>
            </v-col>
        </v-row>
</v-container></template>